{% extends "home/base.html" %}
{% load staticfiles %}
{% block scripts %}
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
    <link rel="stylesheet" type="text/css" href="{% static "analytics.css" %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js'></script>
    <script src="{% static "form.js" %}"></script> 
{% endblock %}
{% block title %}Team Cool - SENG 3011{% endblock %}
(% block
{% block content %}

    <body>
    <div class="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#uploadModal">
          Upload Files
        </button>
        <a href="/analytics/howtouse" class="btn pull-right btn-me">
            <span class="btn btn-info glyphicon glyphicon-info-sign"></span>
        </a>    
    </div>
    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="uploadLabel">Upload Files</h4>
          </div>
          <div class="modal-body">
              <form id="uploadForm" class="form-inline" action="/eventapi/" method="post" enctype="multipart/form-data">
                  Price file: <input type="file" name="stock_price_data_file"><p>
                  Event file: <input type="file" name="stock_characteristic_file"><p>
              <p><input type="submit" class="form-control" id="uploadButton" value="Upload files">
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
        	<ul class="nav nav-tabs">
	            <li class="active"><a data-toggle="tab" href="#options">Options</a></li>
	            <li class="disabled"><a data-toggle="tab" href="#graph" id="graphTab">Graph</a></li>
	            <li><a data-toggle="tab" href="#news" id="newsTab">News</a></li>
            </ul>
        </div>
        <div class="tab-content">
		        <div id="options" class="panel-body panel-group tab-pane fade in active">
		        	<div class="panel panel-default">
			            <div class="row panel-heading">
			                <div class="col-md-1">
			                </div>
			                <div class="col-md-11">
			                    <h4 class="panel-title"><a data-toggle="collapse" href="#date">Date Range</a></h4>
			                </div>
			            </div>
			            <div id="date" class="panel-collapse collapse in">
				            <div class="row panel-body">
				                <div class="col-md-1">
				                </div>
				                <div class="col-md-4">
				                    Start Date
				                    <div class="row">
				                        <div class='col-sm-8'>
				                            <div class="form-group">
				                                <div class='input-group date' id='start'>
				                                    <input type='text' id='startValue' class="form-control" />
				                    <span class="input-group-addon" id="startPicker">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                                </div>
				                            </div>
				                        </div>
				
				                    </div>
				                    <div class="row">
				                        <div id="startDate" style="display: inline-block"></div></div>
				                </div>
				                <div class="col-md-2">
				                </div>
				                <div class="col-md-4">
				                    End Date
				                    <div class="row">
				                        <div class='col-sm-8'>
				                            <div class="form-group">
				                                <div class='input-group date' id='end'>
				                                    <input type='text' id='endValue' class="form-control" />
				                    <span class="input-group-addon" id="endPicker">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="row">
				                        <div id="endDate" style="display: inline-block"></div></div>
				                	</div>
				            	</div>
					            <div class="col-md-1">
					            </div>
				        	</div>
			        	</div>
				        <hr>
				        <div id="eventSection" class="panel panel-default">
				            <div class="row panel-heading">
				                <div class="col-md-1">
				                </div>
				                <div class="col-md-11">
				                    <h4 class="panel-title"><a data-toggle="collapse" href="#event">Event Selection</a></h4>
				                </div>
				            </div>
				            <div class="panel-collapse collapse" id="event">
					            <div class="row panel-body">
					                <div class="col-md-1">
					                </div>
					                <div class="col-md-4">
					                    Choose a Date:
					                    <div class="dropdown">
					                        <button class="btn btn-primary dropdown-toggle disabled" type="button" data-toggle="dropdown">Please Choose Date Range First
					                            <span class="caret"></span></button>
					                        <ul class="dropdown-menu" id="datedropdown">
					                        </ul>
					                    </div>
					                </div>
					                <div class="col-md-2">
					                </div>
					                <div class="col-md-4">
					                    Choose an Event:
					                    <div class="dropdown">
					                        <button class="btn btn-primary dropdown-toggle disabled" type="button" data-toggle="dropdown">Please Choose Date Range First
					                            <span class="caret"></span></button>
					                        <ul class="dropdown-menu" id="eventdropdown">
					                        </ul>
					                    </div>
					                </div>
					            </div>
					        </div>
			        	</div>
				        <hr>
				        <div id="ricSection" class="panel panel-default">
				            <div class="row panel-heading">
				                <div class="col-md-1">
				                </div>
				                <div class="col-md-11">
				                    <h4 class="panel-title"><a data-toggle="collapse" href="#rics">RIC Selection</a></h4>
				                </div>
				            </div>
				            <div class="panel-collapse collapse" id="rics">
					            <div class="row panel-body">
					                <div class="col-md-1">
					                </div>
					                <div class="col-md-10">
					                    Choose RICs:
					                    <div class="table-responsive">
					                        <table  class="table table-hover table table-striped">
					                            <thead>
					                            <tr>
					                                <th width="100">Select</th>
					                                <th>RIC</th>
					                            </tr>
					                            </thead>
					                            <tbody id="ricTable">
					                            </tbody>
					                        </table>
					                    </div>
					                </div>
					                <div class="col-md-1">
					                </div>
					            </div>
				            </div>
				        </div> 
			        </div>
        	<div id="graph" class="tab-pane fade">
			    <!-- Graph Here-->
			    <div id="chart">
			        <svg></svg>
			    </div>
	        </div>
	        <div id="news" class="tab-pane fade">
	        	<div class="row">
	        		<div class="col-md-1"></div>
	        		<div class="col-md-10">     
	        			{% if request.user.is_authenticated %}
	        				<script type="text/javascript">
	        					updateNews();
	        				</script>
	        			{% else %}
	        				<h1>Please login to view related news</h1>
	        			{% endif %}
			        	<div class="list-group" id="newsItems">
			        	<a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">Article name</h4>
						    <p class="list-group-item-text">Date of article.</p>
						    <span class="label label-default">RIC1</span>
						    <span class="label label-default">RIC2</span>
					  	</a>
			        	<a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">Article name2</h4>
						    <p class="list-group-item-text">Date of article.</p>
						    <span class="label label-default">RIC1</span>
						    <span class="label label-default">RIC2</span>
					  	</a>
			        	<a href="#" class="list-group-item">
						    <h4 class="list-group-item-heading">Article name3</h4>
						    <p class="list-group-item-text">Abstract</p>
						    <small>Date of article.</small>
						    <span class="label label-default">RIC1</span>
						    <span class="label label-default">RIC2</span>
					  	</a>
						</div>
					</div>
				</div>
	        </div>
        </div>   
   	</div>

    <!-- <div hidden id="returnButton" class="panel-footer">
        <a href="#" class="btn btn-success btn-me">
            <span class="glyphicon glyphicon-stats"></span> Back to Top
        </a>
    </div>  -->

    <div class="col-md-2">
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src='{% static "graph.js" %}'></script>
    </body>

{% endblock %}
