{% extends "home/base.html" %}

{% block title %}Team Cool - Event Study API{% endblock %}

{% block content %}
<h1>Bugs and Issues</h1>
If you find any bugs or have issues with our API, send us a message at <code>REDACTED</code><br>
<br><hr>
<h2>List of Known Bugs</h2>


<h3>Bug Number: input1-example1-Bug#1</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Incorrect Relative Date Range</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower window range of -N to N returns result for -N to N-1 instead.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">3</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">15/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">18/4/16</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#2</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Inclusive Relative Date Range Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper lower window range of N t0 N gives empty results and only for for ANZ, CBA, NAB and WBC.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">13/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">18/4/16</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>

<hr>
<h3>Bug Number: input1-example1-Bug#3</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Upper/Lower Window Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper lower window 10 to -10 must return a general result, if no other vars specified. But returns result
        for 02/11/11 date for ANZ, CBA, NAB and WBC.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">18/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">Not a bug. The price data file used only has data for the 4 RICs so only they get evaluated.</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#4</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Invalid Syntax Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower_cash_rate 1.5 to 1 gives invalid syntax error.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">-</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#5</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">CEO Health Issue Parameter Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower ceo_health_issue 1 to 0 gives result for CBA, ANZ, NAB, WBC. Not all RICs in file2 as expected.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">18/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">Remarks: Not a bug. The price data file used only has data for the 4 RICs so only they get evaluated.</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#6</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">China_growth_rate_change Parameter Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower china_growth_rate_change 1 to 0 gives result for only CBA, ANZ, NAB and WBC Not all RICs in file2 as expected.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">18/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#7</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Earning Announcements Parameter Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower earning announcements 1 to 0 gives results for CBA, ANZ, NAB and WBC. Not all RICs in file2 as expected.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">15/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">-</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#8</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Macroevent Parameter Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower macroevent 1 to 0 gives result for CBA, ANZ, NAB and WBC. Not all RICs in file2 as expected.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">-</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example1-Bug#9</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Government Policy Changes Parameter Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Upper/lower government policy changes 1 to 0 gives result for  CBA, ANZ, NAB and WBC. Not all RICs in file2 as expected.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">-</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
    </tr>
</table>
<hr>
<h3>Bug Number: input1-example2-Bug#1</h3>
<table style="width:100%" class="table table-striped">
    <tr>
        <td class="col-md-6">Title:</td>
        <td class="col-md-6">Key Error</td>
    </tr>
    <tr>
        <td class="col-md-6">Brief Description:</td>
        <td class="col-md-6">Key error at location /app/eventstudyapi/requestProcessor.py in process, line 21.</td>
    <tr>
        <td class="col-md-6">Severity of Bug(0-5):</td>
        <td class="col-md-6">5</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Found:</td>
        <td class="col-md-6">14/4/2016</td>
    </tr>
    <tr>
        <td class="col-md-6">Date Fixed:</td>
        <td class="col-md-6">-</td>
    </tr>
    <tr>
        <td class="col-md-6">Remarks:</td>
        <td class="col-md-6">N/A</td>
    </tr>
    <tr>
        <td class="col-md-6">In_depth Description (How the Bug was Generated):</td>
        <td class="col-md-6">Running tests on input 1 example 2. For every parameter passed, it gives KeyError!</td>
    </tr>
</table>
<br><br><br>

{% endblock %}
