{% extends "home/base.html" %}

{% block title %}Team Cool - API Documentation{% endblock %}

{% block content %}
  <h1>API Documentation</h1>
  Our Event Study API has two components to it. File uploads and data retrievals are separated to reduce upload overheads.
  <hr>
  <h2>Uploads</h2>
  <pre>https://seng3011-eventstudy.herokuapp.com/eventapi/</pre>
  
  <h3>HTTP Method:</h3> 
  POST

  <h3>Parameters:</h3>
  The following parameters are all required and must be sent in the body of the POST request (ie. as a multipart form). Parameters marked with a <a style='color:red'>*</a> are required.<br><br>

  <b>stock_characteristic_file<a style='color:red'>*</a></b> - CSV file for stock/event characteristics<br>
  <b>stock_price_data_file<a style='color:red'>*</a></b> - CSV file for stock price data<br>
  <b>file_key</b> - 12 character value that represents the files that have been uploaded previously. Used for replacing existing data. Eg. YVLRBOEFEBPA<br>

  <h3>Returns:</h3>
  The file upload API returns a JSON file with a single (relevant) entry: "file_key". This will be used to access event study computations for the uploaded files.

  <h3>Example request/response</h3>
  <h4>Request:</h4>
  <pre> curl -F "stock_characteristic_file=@scf.csv" -F "stock_price_data_file=@spdf.csv"  https://seng3011-eventstudy.herokuapp.com/eventapi</pre>
  <h4>Response:</h4>
  <pre>  {
    "file_key": GXSIELXICPNV
  }</pre>
  <hr>

  <h2>Cumulative Returns</h2>
  <pre>https://seng3011-eventstudy.herokuapp.com/eventapi/</pre>

  <h3>HTTP Method:</h3> 
  GET

  <h3>Parameters:</h3>
  The following parameters modify the output of the cumulative returns calculations. These must be placed in the query string of the URL. Parameters marked with <a style='color:red'>*</a> are required. <br><br>

  <b>file_key</b> - 12 character value that represents the files that have been uploaded previously. Eg. YVLRBOEFEBPA <br>
  <b>lower_window<a style='color:red'>*</a></b> - integer value that is a lower bound of the results to be shown. Example: -10<br>
  <b>upper_window<a style='color:red'>*</a></b> - integer value that is an upper bound of the results to be shown. Example: 10<br><br>

  You can supply additional parameters as ranges for variables within the <code>stock_characteristic_file</code>. You must provide both upper and lower bounds for these variables - eg. <code>upper_ceo_health=0.5&lower_ceo_health=-0.5</code>

  <h3>Example request/response</h3>
  <h4>Request:</h4>
  <pre> curl https://seng3011-eventstudy.herokuapp.com/eventapi/?file_key=GXSIELXICPNV&upper_window=10&lower_window=-10</pre>
  or<br>
  <pre>  GET /eventapi/?file_key=GXSIELXICPNV&amp;upper_window=10&amp;lower_window=-10 HTTP/1.1
  Host: https://seng3011-eventstudy.herokuapp.com</pre>
  <h4>Response:</h4>
  <pre>
  {
  "parameters": {
    "lower_window": "-10",
    "upper_window": "10"
  },
  "events": [
    {
      "date": "02/11/11",
      "returns": {
        "CBA.AX": [
          0.9420464681355807,
          0.9679139760220161,
          0.966683963721893,
          ...
        ],
        "ANZ.AX": [
          1.0975614396844593,
          1.1211352256344829,
          1.1137653500011342,
          ...
        ],
        ...
      }
    }
      "date": "17/11/11",
      "returns": {
        "CBA.AX": [
          ...
        ],
        ...
      }
  ]}</pre>
  <hr>
  <h2>Log Files</h2>
  All outputs also return a log file as part of the JSON response (<code>response['log']</code>). The format of the log is as such:
  <pre>
  "log": {
    "Team": "Team Cool", 
    "API ver.": "Event Study API v1.0", 
    "Input Files": "events.csv and prices.csv",
    "Start time": "2016-04-17T15:56:34.190", 
    "End time": "2016-04-17T15:56:34.408", 
    "Elapsed Time": 0.21778830921402914, 
    "Errors/Warnings": ""
  }</pre>
{% endblock %}
