{% extends "home/base.html" %}

{% block title %}Team Cool - SENG 3011{% endblock %}

{% block content %}
  <div class="blog-header">
    <h1 class="blog-title">Hey there!</h1>
    <p class="blog-description">Welcome to the SENG3011 team webpage for Team Cool.</p>
  </div>
  <hr>
  <div class="blog-post">
    <h2 class="blog-post-title">Event Studt API v2.0 Released</h2>
    <p class="blog-post-meta">April 17, 2016</p>
    <p>Changed the way to upload and retrieve files to POST and GET requests, and fixed some bugs. For more information head to our Releases page.</p>
  </div>
  <div class="blog-post">
    <h2 class="blog-post-title">Site Migration</h2>
    <p class="blog-post-meta">April 15, 2016</p>
    <p>We moved our site from a dinky little GitHubPage to a dinky little page on our Heroku deployment, with some shiny new CSS and a Bootstrap theme.</p>
  </div>
  <hr>
  <div class="blog-post">
    <h2 class="blog-post-title">Event Study API v1.0 Released!</h2>
    <p class="blog-post-meta">April 7, 2016</p>
    <p>This is the first release of our API! Go to the API page to see the specs.</p>
  </div>
{% endblock %}
